---
import Layout from '../layouts/Layout.astro'
import HeaderPortfolio from '../components/HeaderPortfolio.astro'

import MainPortfolio from '../components/MainPortfolio.astro'
import ProjectsPortfolio from '../components/ProjectsPortfolio.astro'
---

<Layout title="Portafolio - Raúl Martínez">
  <HeaderPortfolio />
	<main>
		<MainPortfolio></MainPortfolio>
		<ProjectsPortfolio></ProjectsPortfolio>
	</main>
</Layout>
