---
import Layout from '../layouts/Layout.astro'
import Background from '../layouts/Background.astro'
import HeaderPortfolio from '../components/HeaderPortfolio.astro'

import MainPortfolio from '../components/MainPortfolio.astro'
---

<Layout title="Portafolio - Raúl Martínez">
  <HeaderPortfolio />
	<main>
		<MainPortfolio></MainPortfolio>
	</main>
</Layout>
