---
import Section from '../layouts/Section.astro'

import Perfil from '../layouts/main/Perfil.astro'
import Title from '../layouts/main/Title.astro'
import Skills from '../layouts/main/Skills.astro'
import Buttons from '../layouts/main/Buttons.astro'
import AbstractDrawingMain from '../layouts/main/AbstractDrawingMain.astro'
---

<Section classArray="relative flex flex-col justify-center items-center min-h-screen h-full w-full" id="inicio">
  <Perfil urlPerfil= '/me.webp' />
  <Title fullname = 'Raúl Martínez' workposition = 'Desarrollador Full Stack'/>
  <Skills></Skills>
  <Buttons cv='https://cv.raulmartinez.me' />
  <AbstractDrawingMain />
</Section>