---
import Section from '../layouts/Section.astro'

import CardProject from '../layouts/projects/CardProject.astro'
import Pattern from '../layouts/projects/Pattern.astro'

import HTML from '../layouts/icons/HTML.astro'
import CSS from '../layouts/icons/CSS.astro'
import Javascript from '../layouts/icons/Javascript.astro'
import PHP from '../layouts/icons/PHP.astro'
import MariaDB from '../layouts/icons/MariaDB.astro'

import Nodejs from '../layouts/icons/Nodejs.astro'
import Tailwindcss from '../layouts/icons/Tailwindcss.astro'
import Handlebears from '../layouts/icons/Handlebears.astro'
import MongoDB from '../layouts/icons/MongoDB.astro'

import Python from '../layouts/icons/Python.astro'
import Flask from '../layouts/icons/Flask.astro'
import Firebase from '../layouts/icons/Firebase.astro'
---

<Section classArray='flex flex-col justify-start items-center h-full w-full relative overflow-hidden'>
  <div class="flex flex-col justify-start items-stretch max-w-screen-lg w-full px-4 lg:px-6 mb-10">
    <h2 class="text-center text-slate-700 text-3xl font-semibold mb-10 dark:text-slate-300">Mis Proyectos</h2>
    <CardProject
      title="Code Oran - Seminario"
      description="Este proyecto es el resultado de mi seminario en la Tecnicatura Universitaria en Programación. Se trata de una plataforma web para la programación competitiva, donde los usuarios pueden participar en desafíos y competencias."
      tags={["Proyecto seminario","Universidad","Programación competitiva"]}
      github="https://github.com/gitRaulMartinez/codeoran"
      imagePreview="https://storage.googleapis.com/cdn-ar/portfolio/codeoran-image-preview-1.webp"
      tools={[HTML,CSS,Javascript,PHP,MariaDB]}
    >
    </CardProject>
    <CardProject
      title="Posts - Digitalers Telecom"
      description="Este proyecto forma parte del curso de certificación en Node.js backend, impartido por Digitalers en asociación con Telecom IT. Consiste en una plataforma de redes sociales donde los usuarios pueden publicar contenido y compartirlo con otros."
      tags={["Digitalers","Telecom IT","Curso de backend"]}
      github="https://github.com/gitRaulMartinez/final-project"
      imagePreview="https://storage.googleapis.com/cdn-ar/portfolio/posts-image-preview-1.webp"
      tools={[Nodejs,Tailwindcss,Handlebears,MongoDB]}
    >
    </CardProject>
    <CardProject
      title="Rutas del sabor"
      description="Proyecto desarrollado en un curso de Python en colaboración con Mil Programadores Salteños. Se enseña Python con Tkinter y Flask, y trata sobre restaurantes y su ubicación en un mapa."
      tags={["Curso de Python","Mil programadores salteños"]}
      github="https://github.com/gitRaulMartinez/rutas_del_sabor"
      imagePreview="https://storage.googleapis.com/cdn-ar/portfolio/rutas-del-sabor-image-preview-1.webp"
      tools={[Python,Flask,Firebase]}
    >
    </CardProject>
  </div>
  <Pattern />
</Section>