---
import ProfessionalExperience from '../layouts/timelinesitems/ProfessionalExperience.astro'
import ProjectPersonal from '../layouts/timelinesitems/ProjectPersonal.astro'
import ContactMe from '../layouts/timelinesitems/ContactMe.astro'
---
<section class="flex flex-col gap-4 max-w-screen-md w-full ml-auto mr-auto" id="proyectos">
  <ProjectPersonal />
  <ProfessionalExperience />
  <ContactMe />
</section>