<div class="absolute w-full h-full content-drawing">
  <svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg" class="blob-main text-slate-200 dark:text-slate-700">
    <defs>
      <clipPath id="a">
        <path fill="currentColor" d="M865 687.5Q799 875 612.5 850T269 756Q112 687 83 486t141-326Q394 35 591 87t268.5 232.5Q931 500 865 687.5Z"/>
      </clipPath>
    </defs>
    <g clip-path="url(#a)">
      <path fill="currentColor" d="M865 687.5Q799 875 612.5 850T269 756Q112 687 83 486t141-326Q394 35 591 87t268.5 232.5Q931 500 865 687.5Z"/>
    </g>
  </svg>  
  <div class="square-main border-4 border-slate-800 dark:border-slate-300"></div>
</div>

<style>
  .content-drawing {
    z-index: -100;
    overflow: hidden;
    pointer-events: none;
  }
  
  .blob-main { 
    position: absolute;
    z-index: -100;
    bottom: 0;
    left: 0;
    transform: translateX(-50%) rotate(0deg);
    width: 500px;
    height: 500px;
    /*animation: circle-rotate 16s linear infinite;*/
  }

  .square-main {
    position: absolute;
    z-index: -100;
    top: -10%;
    right: 0;
    transform: translateX(40%) rotate(45deg);
    width: 400px;
    height: 400px;
    /*animation: square-rotate 16s linear infinite;*/
  }

  @keyframes circle-rotate {
    from { transform: translateX(-50%) rotate(0deg); }
    to { transform: translateX(-50%) rotate(360deg); }
  }

  @keyframes square-rotate {
    from { transform: translateX(40%) rotate(0deg); }
    to { transform: translateX(40%) rotate(360deg); }
  }

  @media screen and (max-width: 1024px) {
    .blob-main {
      width: 400px;
      height: 400px;
    }

    .square-main {
      width: 400px;
      height: 400px;
    }
  }

  @media screen and (max-width: 750px) {
    .blob-main {
      width: 250px;
      height: 250px;
    }

    .square-main {
      width: 250px;
      height: 250px;
    }
  }
</style>