<nav class="hidden sm:block">
  <ul class="relative flex justify-end items-center gap-2 my-2">
    <li>
      <a 
        href="#inicio"
        class:list={[
          'block font-semibold py-2 px-4 text-base text-slate-600 dark:text-slate-400',
        ]}
      >Inicio</a>
    </li>
    <li>
      <a 
        href="#proyectos"
        class:list={[
          'block font-semibold py-2 px-4 text-base text-slate-600 dark:text-slate-400',
        ]}
      >Proyectos</a>
    </li>
    <div class="line bg-slate-900 dark:bg-slate-300"></div>
  </ul>
</nav>

<style>
  .line {
    position: absolute;
    bottom: -2px;
    width: 30px;
    left: 20px;
    height: 4px;
    border-radius: 100rem;
  }
</style>

