---
import Github from '../icons/Github.astro'
import LinkedIn from '../icons/LinkedIn.astro'
import Gmail from '../icons/Gmail.astro'
---

<div class="flex flex-row justify-start items-center gap-1 mt-1">
  <a 
    href="https://github.com/gitRaulMartinez" target="_blank"
    class="
      rounded-full p-2 bg-white/50 text-slate-600 hover:text-slate-800 
      relative dark:bg-slate-900/50 dark:text-slate-400 dark:hover:text-slate-200 group/link">
    <Github />
    <span 
      class="
        absolute -bottom-4 left-1/2 -translate-x-1/2 bg-slate-100 text-xs text-slate-600 py-1 px-2.5 rounded-full transition-all opacity-0 invisible pointer-events-none
        group-hover/link:visible group-hover/link:-bottom-7 group-hover/link:opacity-100
      ">
      Github</span>
  </a>
  <a 
    href="https://www.linkedin.com/in/raul-martinez-in/" target="_blank"
    class="
      rounded-full p-2 bg-white/50 text-slate-600 hover:text-slate-800 
      relative dark:bg-slate-900/50 dark:text-slate-400 dark:hover:text-slate-200 group/link">
    <LinkedIn />
    <span 
      class="
        absolute -bottom-4 left-1/2 -translate-x-1/2 bg-slate-100 text-xs text-slate-600 py-1 px-2.5 rounded-full transition-all opacity-0 invisible pointer-events-none
        group-hover/link:visible group-hover/link:-bottom-7 group-hover/link:opacity-100
      ">
      LinkedIn</span>
  </a>
  <a 
    href="mailto:rauldeoran17@gmail.com" 
    class="
      rounded-full p-2 bg-white/50 text-slate-600 hover:text-slate-800 
      relative dark:bg-slate-900/50 dark:text-slate-400 dark:hover:text-slate-200 group/link">
    <Gmail />
    <span 
      class="
        absolute -bottom-4 left-1/2 -translate-x-1/2 bg-slate-100 text-xs text-slate-600 py-1 px-2.5 rounded-full transition-all opacity-0 invisible pointer-events-none
        group-hover/link:visible group-hover/link:-bottom-7 group-hover/link:opacity-100
      ">
      Gmail</span>
  </a>
</div>