<footer class="mt-auto w-full flex justify-center items-center">
  <div class="w-full max-w-screen-lg text-center mt-20 mb-5">
    <span class="text-sm text-slate-500 text-center font-normal">Raúl Gustavo Martínez - Portafolio</span>
  </div>
</footer>