---
import Angular from '../svgs/Angular.astro'
import SpringBoot from '../svgs/SpringBoot.astro'
---
<div class="absolute bottom-0 w-full">
  <div class="max-w-screen-lg w-full mx-auto flex justify-start gap-1 items-center">
    <Angular />
    <SpringBoot />
  </div>
</div>